<div class="form-group">
  <label for="level" class="col-sm-3 control-label">奖品等级</label>
  <div class="col-sm-9">
    <input required="required" type="number" class="form-control unfocus" id="level" name="level" placeholder="1" value="">
    <span class="help-block">奖品等级</span>
  </div>
</div>
<div class="form-group">
  <label for="desc" class="col-sm-3 control-label">奖品描述</label>
  <div class="col-sm-9">
    <input required="required" type="text" class="form-control unfocus" id="desc" name="desc" placeholder="iPhone7" value="">
    <span class="help-block">奖品描述</span>
  </div>
</div>
<div class="form-group">
  <label for="prizeNum" class="col-sm-3 control-label">奖品数量</label>
  <div class="col-sm-9">
    <input required="required" type="number" class="form-control unfocus" id="prizeNum" name="prizeNum" placeholder="3" value="">
    <span class="help-block">奖品数量</span>
  </div>
</div>
<div class="form-group">
  <label for="mantotal" class="col-sm-3 control-label">总人数</label>
  <div class="col-sm-9">
    <input required="required" type="number" min="1" class="form-control unfocus" id="mantotal" name="mantotal" placeholder="100" value="100">
    <span class="help-block">总人数</span>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <button type="submit" class="btn btn-create">创建抽奖任务</button>
  </div>
</div>
